.main {
	font-family: "Teko", sans-serif !important;
	color: white;
	font-size: xx-large;
	line-height: 1.4em !important;
	height: fit-content;
}

.main p {
	font-family: "Teko", sans-serif !important;
	color: white;
	letter-spacing: normal;
}

.invalidPlayer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
