.scoreStats {
	position: fixed;
	margin-top: -5px;
	margin-left: 10px;
	min-width: 135px;

	display: flex;
	flex-direction: column;
}

.scoreStats p {
	font-size: 38px;
	line-height: 1.1em;
	font-size: 35px;
}

.scoreStatsInfo {
	margin-right: 10px;
}
