.songInfoContainer {
	display: flex;
	position: fixed;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.songInfoContainer img {
	border-radius: 5%;
}

.songInfo {
	margin-left: 10px;
}

.songInfoSongName {
	font-size: 30px;
	font-weight: bold;
}

.songInfoSongSubName {
	font-size: 22px;
	margin-top: -12px;
	margin-bottom: -3px;

	line-height: 1.2em;
}

.songInfoSongOtherContainer {
	display: flex;
	margin-top: 6px;
}

.songInfoDiff {
	font-size: 22px;
	padding: 0px 4px;
	width: fit-content;
	border-radius: 10%;
	font-weight: bold;
	margin-bottom: 12px;

	line-height: 1.2em;
}

.songInfoBsr {
	font-size: 22px;
	margin-left: 10px;

	line-height: 1.2em;
}

.songTimeContainer {
	width: 200px;
	display: grid;
}

.songTimeBackground {
	grid-column: 1;
	grid-row: 1;
	z-index: 1;
	padding: 3px;
	width: 100%;
	background-color: white !important;
}

.songTime {
	grid-column: 1;
	grid-row: 1;
	z-index: 2;
	padding: 3px;
	background-color: red !important;
}

.songTimeText {
	margin-top: -10px;
	font-size: 20px;
}
