@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
	color: white;
	font-size: xx-large;
	line-height: 0.3em;
}

.loading {
	color: black;
}

.info {
	margin-top: 35px;
	color: white;
}

.info a {
	font-size: large;
	text-decoration: none;
	color: #7299d4;
	transition: 0.2s;
}

.info a:hover {
    color: #4b72d3 !important;
}

.overlay {
	padding: 10px;
}

.invalid-player p {
	font-size: large;
	color: white;
}

.player-stats-container {
	display: flex;
}

.player-country {
	display: flex;
	line-height: normal;
}

.player-country span {
	margin-top: 3px;
}

.player-country p {
	margin: 0 6px 0 0;
}

.player-country-icon {
	margin-top: -10px;
	border-radius: 30%;
}

.player-avatar {
	border-radius: 5%;
}

.player-stats {
	display: block;
	margin-left: 10px;
	margin-top: -12px;
}

.score-stats {
	text-align: center;
	position:absolute;
	top:0;
	right:0;
	margin-right: 10px;
}

.score-stats-right {
	margin-right: 10px;
}

.score-stats-average-cut {
	font-weight: bold;
	font-size: x-large;
}

.score-stats-hands {
	display: flex;
	margin-top: -30px;
}

.score-stats-hands div {
	padding-left: 10px;
}

.score-stats-info {
	position: fixed;
	bottom:0;
	right:0;
	margin-right: 10px;
	text-align: right;
}