@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
	color: white;
	font-size: xx-large;
	line-height: 0.3em;
}

.loading {
	color: black;
}

.info {
	margin-top: 50px;
	color: white;
}

.overlay {
	padding: 10px;
}

.invalid-player p {
	font-size: large;
	color: white;
}

.player-stats-container {
	display: flex;
}

.player-country {
	display: flex;
	line-height: normal;
}

.player-country span {
	margin-top: 3px;
}

.player-country p {
	margin: 0;
	margin-right: 6px;
}

.player-country-icon {
	margin-top: -10px;
	border-radius: 30%;
}

.player-avatar {
	border-radius: 5%;
}

.player-stats {
	display: block;
	margin-left: 10px;
	margin-top: -12px;
}