.scoreStats {
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 5px;
	min-width: 135px;
}

.scoreStats p {
	font-size: 38px;
	line-height: 1.2em;
}

.scoreStatsLeft {
	text-align: right;
}

.scoreStatsRight {
	margin-right: 10px;
	text-align: right;
}

.scoreStatsAverageCut {
	font-weight: bold;
	font-size: x-large;
}

.scoreStatsHands {
	display: flex;
	justify-content: center;
}

.scoreStatsHands p {
	min-width: 68px;
}

.scoreStatsHands div {
	padding-left: 10px;
}

.scoreStatsInfo {
	margin-right: 10px;
	text-align: right;
}
